<launch>
    <include file="$(dirname)/planning_context.launch">
        <arg name="load_robot_description" value="true" />
    </include>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="true" output="screen" />

    <include file="$(dirname)/move_group.launch">
        <arg name="publish_monitored_planning_scene" value="true" />
        <arg name="moveit_controller_manager" value="simple" />
    </include>

    <group ns="move_group">
        <rosparam command="load" file="$(dirname)/../config/controller.yaml" />
    </group>

    <include file="$(dirname)/moveit_rviz.launch">
        <arg name="rviz_config" value="$(dirname)/moveit.rviz" />
    </include>

</launch>