
<!--
  Manipulator specific version of 'robot_interface_streaming.launch'.

  Defaults provided for mini:
   - 6 joints

  Usage:
    robot_interface_streaming_motomini.launch robot_ip:=<value> controller:=<yrc1000>
-->
<launch>

  <arg name="robot_ip" />

  <!-- controller: Controller name (yrc1000) -->
  <arg name="controller"/>
  <arg name="simulation" default="false" />
  
  <remap from="/joint_states" to="/motomini_joint_states" />

  <include file="$(find motoman_motomini_support)/launch/load_motomini.launch" />

  <rosparam command="load" file="$(find motoman_motomini_support)/config/joint_names_motomini.yaml" />

  <include file="$(find motomini_tool)/launch/motomini_tool.launch">
    <arg name="start_fake_motomini" value="$(arg simulation)" />
  </include>

  <include unless="$(arg simulation)" file="$(find motoman_driver)/launch/robot_interface_streaming_$(arg controller).launch">
    <arg name="robot_ip"   value="$(arg robot_ip)" />
  </include>
</launch>
